#chat {
    float: right;
}

#chatlog {
    width: 401px;
    height: 88vh;
    background-color: #333333;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    overflow: hidden;
    display:block;
    margin-bottom: 0px;
}

#actual-comments {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
}

#actual-comments > li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    list-style-type: none;
    color: #faf2f0;
    display:block;
}

#new-comment {
    margin-top: 0px;
    height: 90px;
    width: 400px;
    padding: 0px;
    position: right;
    margin-right: 0cpx;
}

li > textarea {
    background-color:#333333;
    width:336px;
    color: #faf2f0;
    height:50px;
}

li > button {
    background-color:#333333;
    border-width:1px;
    width:54px;
    height:50px;
}

button > img {
    width:40px;
    height:40px;
    padding:0px;
}

#new-comment > li {
    vertical-align: top;
    width: 336px;
    list-style-type: none;
    color:#faf2f0;
    display: inline;
    margin-left: 0px;
}

#header {
    padding-left: 50px;
}