

#player{
    padding: 4px 50px 4px 50px;
}
#room-title{
    font-size: 16pt;
    padding: 4px 0 4px 50px;
}
.channel{
    font-size: 12pt;
}
.channel, .avatar{
    margin-top: 4px;
}
#video-info{
    padding-left: 50px;
}
#firstThumbnail{
    display: none;
}
#secondThumbnail{
    display: none;
}
#thirdThumbnail{
    display: none;
}
#firstThumbnail, #secondThumbnail, #thirdThumbnail{
margin:0;
width:100%;
}
body{
  font-family: Roboto, Arial, sans-serif;
  background-color: #212121;
  color: #ffffff;
}

#form {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
#urlInput {
  flex: 1;
}
#urlSubmit {
  flex: none;
}
.channelData{
    display: inline-block;
}
#queue {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.video {
  margin: 0 16px 0 0;
}
.thumbnail {
  width: 210px;
  height: 118px;
  margin: 0;
  overflow:hidden;
}
#queue-container {
  width: 640px;
  padding: 0 50px 50px 50px;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  display: none;
}
.video-metadata {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}
.title {
  font-weight: bold;
}
.author {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}
.secondary-metadata {
  display: flex;
  flex-direction: row;
}
.secondary-metadata span:first-child::after {
  content: '•';
  display: 'inline-block';
  margin: 0 4px;
}
