#chat {
    width: 200px;
    float: right;
    align-content: left;
    align-self: right;
    height: 100vh;
    background-color: red;
    position: right;
}

#chatlog {
    width: 400px;
    height: 90vh;
    background-color: #faf2f0;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    position: right;
}

#chatlog > li {
    margin-left: 20px;
    float: left;
    list-style-type: none;
}

#new-comment {
    height: 90px;
    width: 400px;
    /*float: right; */
    padding: 0px;
    position: right;
}

#new-comment > li {
    vertical-align: middle;
    list-style-type: none;
}
